$white: #ffffff;
.gif-card-container {
  cursor: pointer;

  .gif-card-thumbnail {
    width: 100%;
    height: 250px;
  }
  .gif-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .gif-card-author {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    .gif-card-author-empty {
      height: 19px;
    }
    .gif-author-avatar-wrapper {
      display: inline-block;
      .gif-author-avatar {
        width: 15px;
        height: 15px;
        border-radius: 50%;
      }
      margin-right: 10px;
    }

    .gif-author-name {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100% - 26px);
    }
  }
}
