.modal-wrapper {
  width: 100vw;
  height: 100vh;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  .close-button {
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
    color: white;
    cursor: pointer;
  }
  .gif-fullscreen {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
